---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Timeline from '../components/Timeline.astro';
import DressCode from '../components/DressCode.astro';
import Information from '../components/Information.astro';
import RSVP from '../components/RSVP.astro';
---

<Layout title="Boda Sebastián y Daniela | 11.12.26">
	<main>
		<Hero />
		<Timeline />
		<DressCode />
		<Information />
		<RSVP />
	</main>
</Layout>
